<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="email.notifier" version="1">
    <about>
        <name>Email Notification plugin</name>
        <version>0.1</version>
        <target-go-version>17.4.0</target-go-version>
        <description>Plugin to send email notifications</description>
        <vendor>
            <name>Prem</name>
        </vendor>
    </about>
</go-plugin>